DATABASE_URL="postgresql://user:password@localhost:5432/unifood?schema=public"
JWT_AT_SECRET="at-secret-123"
JWT_RT_SECRET="rt-secret-123"
CLOUDINARY_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"
NODE_ENV="development"
PORT=5000
